.slider__courtain{
    position: absolute;
    z-index: 5;
    @include center;
    height: 110vh; 
    width: 110vw; // tmp
    overflow: hidden;
    transition: all 1s ease;
    background-color: white;
}

.slider__image{
    position: absolute;
    @include center;
    height: 110vh; 
    overflow: hidden;
    transition: all 5s ease-in;
}

.slider__caption{
    position: absolute;
    @include center;
    background-color: $transparent-bg;
    color: white;
    font-size: 4em;
    padding: .5em;
    text-align: center;
}

@media all and (max-width: 850px){
    .slider__caption{
        font-size: 2em;
    }
}

@media all and (orientation: landscape) and (max-width: 850px){
    .slider__image{
        height: auto;
        width: 110vw;
    }
}