.slider__image{
    position: absolute;
    @include center;
    height: 110vh;
    overflow: hidden;
}

.slider__caption{
    position: absolute;
    @include center;
    background-color: rgba(0, 0, 0, 0.199);
    color: white;
    font-size: 4em;
    padding: .5em;
}