@import '../helpers/mixins';

// loader placement
.loader{
    position: absolute;
    @include full-page;
    background-color: black;
    z-index: 10;
    @include flex-center;
    transition: all 1s ease 1.25s;
}