@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Lato");
.body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease 1.5s; }

.slider {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden; }

html {
  box-sizing: border-box; }

*, *:after, *:before {
  font-family: 'Crimson Text', serif;
  margin: 0;
  padding: 0; }

.bar {
  width: 30px;
  height: 40px;
  background-color: black;
  margin: 5px; }

.bar1 {
  animation: animate1 1s ease-out infinite; }

.bar2 {
  animation: animate2 1s ease-out infinite; }

.bar3 {
  animation: animate3 1s ease-out infinite; }

@keyframes loading-end {
  0% {
    height: 40px;
    width: 30px; }
  50% {
    height: 100vh;
    width: 30px; }
  100% {
    height: 100vh;
    width: 100vw; } }

@keyframes animate1 {
  0% {
    transform: scaleY(1); }
  10% {
    transform: scaleY(1.7); }
  45% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1); } }

@keyframes animate2 {
  0% {
    transform: scaleY(1); }
  15% {
    transform: scaleY(1); }
  25% {
    transform: scaleY(1.7); }
  60% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1); } }

@keyframes animate3 {
  0% {
    transform: scaleY(1); }
  30% {
    transform: scaleY(1); }
  40% {
    transform: scaleY(1.7); }
  85% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1); } }

.slider__courtain {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 110vh;
  width: 110vw;
  overflow: hidden;
  transition: all 1s ease;
  background-color: white; }

.slider__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 110vh;
  overflow: hidden;
  transition: all 5s ease-in; }

.slider__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.199);
  color: white;
  font-size: 4em;
  padding: .5em;
  text-align: center; }

@media all and (max-width: 850px) {
  .slider__caption {
    font-size: 2em; } }

@media all and (orientation: landscape) and (max-width: 850px) {
  .slider__image {
    height: auto;
    width: 110vw; } }

.main-menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  display: none; }

.main-menu__image {
  max-width: 100%;
  max-height: 100%; }

.main-menu__title, .main-menu__description {
  color: white;
  font-size: 4em; }

.main-menu__wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.199);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  min-width: 100px;
  min-height: 100px;
  padding: 20px; }

.main-menu__title {
  font-weight: 700; }

.main-menu__description {
  font-size: 2em;
  font-family: Lato; }

.main-menu__info-btn, .main-menu__info-cnt .button {
  border: none;
  height: 60px;
  width: 60px;
  background-color: white;
  box-shadow: 0 4px 5px black, 0 0 10px #5c5c5c inset;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  margin-top: 20px;
  transition: all .5s ease; }
  .main-menu__info-btn:hover, .main-menu__info-cnt .button:hover {
    box-shadow: 0 2px 3px black, 0 0 10px white inset;
    color: gray;
    cursor: pointer; }

.main-menu__info-cnt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background-color: white;
  box-shadow: 0 4px 5px black, 0 0 10px #5c5c5c inset;
  overflow: auto;
  padding: 100px 20px;
  font-size: 1.5em;
  display: flex;
  flex-flow: column nowrap;
  transform: translate(-50%, -50%) scale(0); }
  .main-menu__info-cnt .button {
    position: fixed;
    font-size: 1em;
    left: 50%;
    top: 5px;
    transform: translateX(-50%); }
  .main-menu__info-cnt .info-cnt__info {
    text-align: justify; }
  .main-menu__info-cnt .info-cnt__link {
    font-family: Lato;
    text-align: center; }
  .main-menu__info-cnt .info-cnt__info > p {
    margin-bottom: 20px; }

@keyframes expand {
  0% {
    transform: translate(-50%, -50%) scaleX(0);
    transform: translate(-50%, -50%) scaleY(0);
    color: white; }
  30% {
    transform: translate(-50%, -50%) scaleX(1);
    transform: translate(-50%, -50%) scaleY(0.05);
    color: white; }
  70% {
    transform: translate(-50%, -50%) scaleX(1);
    transform: translate(-50%, -50%) scaleY(1);
    color: white; }
  100% {
    transform: translate(-50%, -50%) scaleX(1);
    transform: translate(-50%, -50%) scaleY(1);
    color: black; } }

@media all and (orientation: portrait) and (max-width: 450px) {
  .main-menu__info-cnt {
    width: 90vw; } }

@media all and (orientation: landscape) and (max-height: 450px) {
  .main-menu__info-cnt {
    max-height: 90%; } }
